.root {
  li {
    display: inline-flex;
    cursor: pointer;

    &.selected {

    }
    
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      padding: 10px;
      border: 1px solid #fe5f1e;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      &:hover {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }
  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }
}